{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='hero_img.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Share Your Story. Connect with the World.</h1>
            <p class="lead">Discover a world of stories and insights at Our Blogging Haven. Share your journey, gain new perspectives, and connect with a passionate community of writers and readers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Post</button>
              <a href="/read" class="btn btn-outline-secondary btn-lg px-4">Read</a>
            </div>
          </div>
        </div>
        <br><br>
</div>
{% endblock %}
