{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block nav %}
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link active">About</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
{% endblock %}

{% block content %}

    <div style="display: flex;align-items: center;flex-direction: column;width:100%;">
        <div style="width:800px;">
        <br>
        <h1>About Us</h1>
        <p>Welcome to StorySphere, your go-to platform for sharing and discovering amazing stories from around the world. At StorySphere, we believe that everyone has a story to tell, and every story has the power to inspire, educate, and connect us.</p>
        <br>
        <h2>Our Mission</h2>
        <p>Our mission is to provide a vibrant and inclusive space where writers and readers can come together to share their unique experiences and perspectives. We aim to foster a community that values creativity, authenticity, and the art of storytelling.</p>
        <br>
        <h2>What we offer</h2>
        <ul>
            <li>Diverse Content: From personal blogs and opinion pieces to fiction and poetry, StorySphere offers a wide range of content that caters to various interests and tastes.</li>
            <li>User-Friendly Platform: Our platform is designed to be intuitive and easy to use, allowing you to focus on what you do best—writing and reading great stories.</li>
            <li>Community Engagement: Engage with other members through comments, likes, and shares. Join discussions, give feedback, and build connections with fellow storytellers.</li>
            <li>Resources for Writers: Access a wealth of resources, including writing tips, workshops, and expert advice to help you hone your craft and grow as a writer.</li>
        </ul>
    </div>
    </div>

{% endblock %}